!.gitignore
!wp-content/
wp-content/**
!wp-content/mu-plugins/
!wp-content/themes/
!wp-content/plugins/
wp-content/themes/**
wp-content/plugins/**

!wp-content/mu-plugins/aqua-resizer-extension
!wp-content/mu-plugins/aqua-resizer-extension/*
!wp-content/mu-plugins/login-logo
!wp-content/mu-plugins/login-logo/*
!wp-content/mu-plugins/mandr-cpt
!wp-content/mu-plugins/mandr-cpt/*
!wp-content/mu-plugins/mandr-custom-colorpicker
!wp-content/mu-plugins/mandr-custom-colorpicker/*
!wp-content/mu-plugins/mandr-custom-dashboard
!wp-content/mu-plugins/mandr-custom-dashboard/*
!wp-content/mu-plugins/mandr-role-restrictions
!wp-content/mu-plugins/mandr-role-restrictions/*
!wp-content/mu-plugins/mu-load.php

!wp-content/plugins/mandr-page-scripts
!wp-content/plugins/mandr-page-scripts/**

wp-content/themes/index.php
wp-content/themes/twentytwenty

!wp-content/themes/sdb
!wp-content/themes/sdb/**

*.log
*.sql
*.sqlite
*.log
.DS_Store
advanced-cache.php
object-cache.php
wp-config.php
.vscode/
logs/
backup-db/
backups/
blogs.dir/
cache/
upgrade/
uploads/
acf-json/
node_modules