/* Set your primary colors here */
$color-background: #fff;
$color-red: #990000;
$color-green: #78be20;
$color-menu-lightblue: #d9e9f8;
$color-menu-lightbluehover: #afceec;
$color-lightblue: #ebf5fe;
$color-blue: #0067b9;
$color-darkblue: #003865;
$color-offwhite: #fefefe;

/* Make sure to set this*/
$color-main: $color-blue;

/* typical text color */
$color-text: $color-darkblue;

/* color when ya highlight something with the mouse */
$selectionColor: #333333;

/* simple a and a:hover */
$color-link: #005aa3;
$color-linkhover: black;
