.placeholder {
    color: #000;
    opacity: 0.7;
    font-weight: 300;
    text-transform: normal;
}

::-moz-placeholder {
    color: #000;
    opacity: 0.7;
    font-weight: 300;
    text-transform: normal;
}

::-webkit-input-placeholder {
    color: #000;
    opacity: 0.7;
    font-weight: 300;
    text-transform: normal;
}

:-ms-input-placeholder {
    color: #909090;
    opacity: 1;
    font-weight: 300;
    text-transform: normal;
}

::-ms-input-placeholder {
    color: #909090;
    opacity: 1;
    font-weight: 300;
    text-transform: normal;
}
